@{
    ViewData["Title"] = "Home Page";
}

@model DashboardViewModel

@{
    var fromDate = Model.FromDate ?? DateTime.Now.AddDays(-6).ToString("yyyy-MM-dd");
    var toDate = Model.ToDate ?? DateTime.Now.ToString("yyyy-MM-dd");
}
<link rel="stylesheet" href="~/css/Dashboard/index.css" asp-append-version="true" />
<link href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css" rel="stylesheet">

<div class="container">
    <div class="d-flex align-items-center justify-content-between bg-white rounded gap-3 p-2 mb-3">
        <div class="d-flex align-items-center gap-3">
            <label class="label-text">Date Periode:</label>
            <div class="datetime-container d-flex gap-3 align-items-center">
                <div class="d-flex gap-3 align-items-center py-1 ps-3 pe-1" style="border-radius:50px;border:1px solid rgba(108, 117, 125, .2);">
                    <input type="date" class="border-0 text-muted" id="fromDate" value="@fromDate" />
                </div>
                <div>
                    -
                </div>
                <div class="d-flex gap-3 align-items-center py-1 ps-3 pe-1" style="border-radius:50px;border:1px solid rgba(108, 117, 125, .2);">
                    <input type="date" class="border-0 text-muted" id="toDate" value="@toDate" />
                </div>
            </div>
        </div>
        <div class="d-flex align-items-center gap-3">
            <label class="label-text">Report:</label>
            <select class="form-select" aria-label="Default select example" style="border-radius:50px;padding:.5rem 2.25rem .5rem 1.5rem;border-color:rgba(108, 117, 125, .2);" id="report-name" name="ReportName">
                <option value="Sales Analytics">Sales Analytics</option>
                <option value="Order Detail">Order Detail</option>
            </select>
        </div>
    </div>
    <div class="row g-3 mb-3">
        <div class="col-12 col-sm-6 col-md-3">
            <div class="card dashboard-card h-100 border-0">
                <div class="card-body d-flex flex-column">
                    <div class="d-flex align-items-center mb-2">
                        <div class="circle-wrapper bg-light me-2">
                            <i class="bi bi-graph-up"></i>
                        </div>
                        <span class="card-title mb-0">Total Sales Amount</span>
                    </div>
                    <div class="value-container d-flex justify-content-between align-items-baseline mt-auto">
                        <h2 class="card-value">@Model.SalesAnalytics.TotalSalesAmount.Amount</h2>
                        <span class="card-unit">IDR</span>
                    </div>
                    <div class="d-flex justify-content-between">
                        <div class="@(Model.SalesAnalytics.TotalSalesAmount.IsGrowth? "pill-wrapper-success-left" : "pill-wrapper-danger-left")">
                            @if (Model.SalesAnalytics.TotalSalesAmount.IsGrowth)
                            {
                                <i class="bi bi-plus" style="font-size:.8rem"></i>
                            }
                            else
                            {
                                <i class="bi bi-dash" style="font-size:.8rem"></i>
                            }
                            Rp @Model.SalesAnalytics.TotalSalesAmount.GrowthAmount
                        </div>
                        <div class="@(Model.SalesAnalytics.TotalSalesAmount.IsGrowth? "pill-wrapper-success-right" : "pill-wrapper-danger-right")">
                            @Model.SalesAnalytics.TotalSalesAmount.GrowthPercentage%
                            @if (Model.SalesAnalytics.TotalSalesAmount.IsGrowth)
                            {
                                <i class="bi bi-arrow-up" style="font-size:.8rem"></i>
                            }
                            else
                            {
                                <i class="bi bi-arrow-down" style="font-size:.8rem"></i>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 col-sm-6 col-md-3">
            <div class="card dashboard-card h-100 border-0">
                <div class="card-body d-flex flex-column">
                    <div class="d-flex align-items-center mb-2">
                        <div class="circle-wrapper bg-light me-2">
                            <i class="bi bi-box"></i>
                        </div>
                        <span class="card-title mb-0">Total Product Sales</span>
                    </div>
                    <div class="value-container d-flex justify-content-between align-items-baseline mt-auto">
                        <h2 class="card-value">@Model.SalesAnalytics.TotalProductSales.Amount</h2>
                        <span class="card-unit">Items</span>
                    </div>
                    <div class="d-flex justify-content-between">
                        <div class="@(Model.SalesAnalytics.TotalProductSales.IsGrowth? "pill-wrapper-success-left" : "pill-wrapper-danger-left")">
                            @if (Model.SalesAnalytics.TotalProductSales.IsGrowth)
                            {
                                <i class="bi bi-plus" style="font-size:.8rem"></i>
                            }
                            else
                            {
                                <i class="bi bi-dash" style="font-size:.8rem"></i>
                            }
                            @Model.SalesAnalytics.TotalProductSales.GrowthAmount Items
                        </div>
                        <div class="@(Model.SalesAnalytics.TotalProductSales.IsGrowth? "pill-wrapper-success-right" : "pill-wrapper-danger-right")">
                            @Model.SalesAnalytics.TotalProductSales.GrowthPercentage%
                            @if (Model.SalesAnalytics.TotalProductSales.IsGrowth)
                            {
                                <i class="bi bi-arrow-up" style="font-size:.8rem"></i>
                            }
                            else
                            {
                                <i class="bi bi-arrow-down" style="font-size:.8rem"></i>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 col-sm-6 col-md-3">
            <div class="card dashboard-card h-100 border-0">
                <div class="card-body d-flex flex-column">
                    <div class="d-flex align-items-center mb-2">
                        <div class="circle-wrapper bg-light me-2">
                            <i class="bi bi-people"></i>
                        </div>
                        <span class="card-title mb-0">Total Customers</span>
                    </div>
                    <div class="value-container d-flex justify-content-between align-items-baseline mt-auto">
                        <h2 class="card-value">@Model.SalesAnalytics.TotalCustomers.Amount</h2>
                        <span class="card-unit">Persons</span>
                    </div>
                    <div class="d-flex justify-content-between">
                        <div class="@(Model.SalesAnalytics.TotalCustomers.IsGrowth? "pill-wrapper-success-left" : "pill-wrapper-danger-left")">
                            @if (Model.SalesAnalytics.TotalCustomers.IsGrowth)
                            {
                                <i class="bi bi-plus" style="font-size:.8rem"></i>
                            }
                            else
                            {
                                <i class="bi bi-dash" style="font-size:.8rem"></i>
                            }
                            @Model.SalesAnalytics.TotalCustomers.GrowthAmount Persons
                        </div>
                        <div class="@(Model.SalesAnalytics.TotalCustomers.IsGrowth? "pill-wrapper-success-right" : "pill-wrapper-danger-right")">
                            @Model.SalesAnalytics.TotalCustomers.GrowthPercentage%
                            @if (Model.SalesAnalytics.TotalCustomers.IsGrowth)
                            {
                                <i class="bi bi-arrow-up" style="font-size:.8rem"></i>
                            }
                            else
                            {
                                <i class="bi bi-arrow-down" style="font-size:.8rem"></i>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 col-sm-6 col-md-3">
            <div class="card dashboard-card h-100 border-0">
                <div class="card-body d-flex flex-column">
                    <div class="d-flex align-items-center mb-2">
                        <div class="circle-wrapper bg-light me-2">
                            <i class="bi bi-people"></i>
                        </div>
                        <span class="card-title mb-0">Total Customers</span>
                    </div>
                    <div class="value-container d-flex justify-content-between align-items-baseline mt-auto">
                        <h2 class="card-value">@Model.SalesAnalytics.TotalCustomers.Amount</h2>
                        <span class="card-unit">Persons</span>
                    </div>
                    <div class="d-flex justify-content-between">
                        <div class="@(Model.SalesAnalytics.TotalCustomers.IsGrowth? "pill-wrapper-success-left" : "pill-wrapper-danger-left")">
                            @if (Model.SalesAnalytics.TotalCustomers.IsGrowth)
                            {
                                <i class="bi bi-plus" style="font-size:.8rem"></i>
                            }
                            else
                            {
                                <i class="bi bi-dash" style="font-size:.8rem"></i>
                            }
                            @Model.SalesAnalytics.TotalCustomers.GrowthAmount Persons
                        </div>
                        <div class="@(Model.SalesAnalytics.TotalCustomers.IsGrowth? "pill-wrapper-success-right" : "pill-wrapper-danger-right")">
                            @Model.SalesAnalytics.TotalCustomers.GrowthPercentage%
                            @if (Model.SalesAnalytics.TotalCustomers.IsGrowth)
                            {
                                <i class="bi bi-arrow-up" style="font-size:.8rem"></i>
                            }
                            else
                            {
                                <i class="bi bi-arrow-down" style="font-size:.8rem"></i>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row g-3">
        <div class="col-12 col-sm-6 col-md-8">
            <div class="bg-white d-flex gap-2 align-items-center p-3">
                <div class="dot-middle bg-primary"></div>
                <h5 class="m-0">Report Graph</h5>
            </div>
            <div class="card dashboard-card h-100 border-0" style="max-height: 400px;">
                <canvas class="card-body" id="styledChart"></canvas>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4">
            <div class="bg-white d-flex gap-2 align-items-center p-3">
                <div class="dot-middle bg-primary"></div>
                <h5 class="m-0">Favorite Product</h5>
            </div>
            <div class="card dashboard-card border-0">
                <div class="card-body" style="max-height:400px;overflow:scroll;overflow-x:hidden;">
                    <table class="table table-borderless">
                        <thead>
                            <tr>
                                <th scope="col" class="p-0">
                                    <div class="table-header-cus text-muted" style="margin:.5rem">
                                        Product Name
                                    </div>
                                </th>
                                <th scope="col" class="p-0">
                                    <div class="table-header-cus text-muted">
                                        Total Orders
                                    </div>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.FavoriteProducts.Any())
                            {
                                var indexedItems = Model.FavoriteProducts.Select((item, index) => new { item, index });

                                foreach (var pair in indexedItems)
                                {
                                    <tr class="border-bottom">
                                        <td class="text-center p-3">
                                            <h6 class="m-0">@pair.item.ProductName</h6>
                                            <p class="text-muted m-0">@pair.item.CategoryName</p>
                                        </td>
                                        <td class="text-center p-3">
                                            <div class="d-flex gap-1 justify-content-center">
                                                <p>@pair.item.TotalOrder</p>
                                                <p class="text-muted">Times</p>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>

    const pad = (num) => num.toString().padStart(2, '0');

    const formatDate = (date) => {
        const year = date.getFullYear();
        const month = pad(date.getMonth() + 1);
        const day = pad(date.getDate());
        return `${year}-${month}-${day}`;
    };

    $("#download-report").on("click", function () {
        const reportName = $("#report-name").val();

        const fromDate = $("#fromDate").val() || formatDate(new Date());
        const toDate = $("#toDate").val() || formatDate(new Date());

        console.log({ FromDate: fromDate, ToDate: toDate, ReportName: reportName });

        fetch('/Dashboard/DownloadReport', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ FromDate: fromDate, ToDate: toDate, ReportName: reportName })
        })
        .then(response => response.blob())
        .then(blob => {
            const url = URL.createObjectURL(blob);
            window.open(url, '_blank');
        });
    });


    function redirectIfDatesValid() {
        const fromDate = $("#fromDate").val();
        const toDate = $("#toDate").val();

        if (fromDate && toDate) {
            if (new Date(fromDate) > new Date(toDate)) {
                alert("From date must be before or equal to To date");
                return;
            }

            window.location.href = `/Dashboard/Index?fromDate=${fromDate}&toDate=${toDate}`;
        }
    }

    $(document).ready(function () {
        $("#fromDate, #toDate").on("change", redirectIfDatesValid);
    });


    const labels = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.Chart.Labels));
    const data = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.Chart.Data));
    const pointStyles = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.Chart.PointStyles));

    const ctx = document.getElementById('styledChart').getContext('2d');

    const styledChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: labels,
            datasets: [{
                data: data,
                fill: false,
                borderColor: 'rgba(13,110,253)',
                tension: 0.3,
                pointStyle: false,
                pointRadius: 7,
                pointBackgroundColor: 'rgba(13,110,253)'
            }]
        },
        options: {
            plugins: {
                title: {
                    display: false
                },
                legend: {
                    display: false
                }
            },
            scales: {
              x: {
                grid: {
                  display: false
                }
              },
              y: {
                beginAtZero: true,
                grid: {
                  display: false
                }
              }
            }
        }
    });
</script>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    @if (TempData["SweetAlert_Icon"] != null)
    {
        <text>
                Swal.fire({
                    icon: '@TempData["SweetAlert_Icon"]',
                    title: '@TempData["SweetAlert_Title"]',
                    text: '@TempData["SweetAlert_Message"]',
                    confirmButtonColor: '#3085d6'
                });
        </text>
    }
</script>

