@model TblProduct

<div class="detail-container" data-id="@Model.ProductId">
    <div class="d-flex flex-column">
        <div class="d-flex justify-content-center img-detail-container">
            <img src="~/images/egg-tarts.jpg" class="w-75"/>
        </div>
        <div class="d-flex flex-column gap-1 mb-3">
            <p class="text-muted m-0">@Model.Category.CategoryName</p>
            <h5 class="m-0">@Model.ProductName</h5>
            <p class="text-muted m-0">@Model.ProductDescription</p>
        </div>
        <div class="d-flex flex-column gap-1">
            @if (Model.TblVariantGroups.Any())
            {
                @foreach(var (group,i) in Model.TblVariantGroups.Select((group, i) => (group,i)))
                {
                    <div>
                        <p class="mb-1">@group.VariantName:</p>
                        <div class="body-variant-group d-flex gap-1">
                            @foreach (var (option,index) in group.TblVariantOptions.Select((option,index) => (option,index)))
                            {
                                <div class="variant-option-tag" id="variant-option-@index" data-value="@option.Value"
                                     data-group="@i">
                                    @option.Value
                                </div>
                            }
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>