@{
    Layout = "~/Views/Shared/_ActivityLayout.cshtml";
    ViewData["Title"] = "Activity";
}
@model List<TblOrder>

<div class="bg-white p-2">
    <div class="d-flex justify-content-between">
        <div class="datetime-container d-flex gap-3 align-items-center">
            <div>
                Date:
            </div>
            <div class="d-flex gap-3 align-items-center py-1 ps-3 pe-1" style="border-radius:50px;border:1px solid rgba(108, 117, 125, .2);">
                <input type="date" class="border-0 text-muted" value="@DateTime.Now.ToString("yyyy-MM-dd")" />
            </div>
            <div>
                -
            </div>
            <div class="d-flex gap-3 align-items-center py-1 ps-3 pe-1" style="border-radius:50px;border:1px solid rgba(108, 117, 125, .2);">
                <input type="date" class="border-0 text-muted" value="@DateTime.Now.ToString("yyyy-MM-dd")" />
            </div>
        </div>
        <div class="search-icon bg-light">
            <i class="bi bi-search"></i>
        </div>
    </div>
</div>
<div class="bg-white p-2">
    <table class="table table-borderless">
        <thead>
            <tr>
                <th scope="col" class="p-0"><div class="table-header-cus text-muted bg-light">#</div></th>
                <th scope="col" class="p-0"><div class="table-header-cus text-muted bg-light">Date & Time</div></th>
                <th scope="col" class="p-0"><div class="table-header-cus text-muted bg-light">Cashier Name</div></th>
                <th scope="col" class="p-0"><div class="table-header-cus text-muted bg-light">Order Status</div></th>
                <th scope="col" class="p-0"><div class="table-header-cus text-muted bg-light">Total Payment</div></th>
                <th scope="col" class="p-0"><div class="table-header-cus text-muted bg-light mx-0">Orders</div></th>
            </tr>
        </thead>
        <tbody>
            @foreach(var item in Model){
                <tr class="text-center">
                    <th>@item.OrderNumber</th>
                    <td>@{var dateConvert = item.OrderDate.ToString("MM/dd/yyyy - HH:mm");} @dateConvert</td>
                    <td>@item.Cashier</td>
                    <td>@item.Status</td>
                    <td>Rp @item.TotalPrice</td>
                    <td>Detail</td>
                </tr>
            }
        </tbody>
    </table>
</div>

